/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

html * {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  text-align: center;
  color: #000000;
  background-color: #efefef
}

h1 {
  font-size: 50px;
  line-height: 1.5em;
}


h2 {
  font-size: 40px;
}

img {
  margin: 20px 0;
  max-width: 100px;
}

.button {
  text-decoration: underline;
  cursor: pointer;
  font-size: 50px;
  font-weight: 400;
}

button:hover {
  text-shadow:  0.05em 0.05em 0 #2cfcfd,
  -0.05em 0 0 #ff0aff,
  0.09em 0 0 #ffff0a;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.content__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
}


.divider {
  width: 2px;
  box-shadow: 0.05em 0.05em 0 #2cfcfd,
  -0.05em 0 0 #ff0aff,
  0.09em 0 0 #ffff0a;
  background: #000;
  margin: 10px 0;
}

.playlist {
  flex-grow: 1;
  margin: 0 20px;
  border-width: 0 0 3px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.playlist__list {
  overflow-x: hidden;
  overflow-y: scroll;
}

.playlist__title {
  text-shadow:  0.05em 0.05em 0 #2cfcfd,
  -0.05em 0 0 #ff0aff,
  0.09em 0 0 #ffff0a;
  font-size: 1.3em;
  margin-bottom: 10px;
}
.playlist__current_item {
  text-shadow:  0.05em 0.05em 0 #2cfcfd,
  -0.05em 0 0 #ff0aff,
  0.09em 0 0 #ffff0a;
}

.playlist__remove-button {
  font-size: inherit;
  margin: 0 10px;
}

.player-container {
  width: 100%;
}

.player__wrapper {
  flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
  padding: 20px;
}

.control-button__wrapper {
	width: 20px;
	margin: 5px;
}

.control-button__wrapper:hover svg {
  filter:  drop-shadow(0.15em 0.15em 0 #2cfcfd)
	drop-shadow(-0.15em 0 0 #ff0aff)
	drop-shadow(0.19em 0 0 #ffff0a);
}
.video-url {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.video-url__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.video-url__input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: none;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.video-url__input::placeholder {
  color: transparent;
}
.video-url__input:placeholder-shown ~ .video-url__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.video-url__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

.video-url__input:focus {
  padding-bottom: 6px;
  border-width: 0 0 3px 0;
  border-image: linear-gradient(90deg, rgba(44,252,253,0.8085609243697479) 17%, rgba(255,10,255,0.7189250700280112) 53%, rgba(255,255,10,0.80015756302521) 82%);
  border-image-slice: 1;
}
.video-url__input:focus ~ .video-url__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

/* reset input */
.video-url__input:required, .video-url__input:invalid {
  box-shadow: none;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__wrapper {
  width: 80px;
  padding: 10px;
}

.loading .logo-item__magenta  {
  animation: vibrate-magenta 1s linear infinite;
  animation-direction: reverse;
}

.loading .logo-item__yellow {
  animation: vibrate-yellow 1.4s linear infinite;
}

.loading .logo-item__cyan {
  animation: vibrate-cyan 1.5s linear infinite;
}

.loading .logo-item__black {
  display: none;
}

.loading .logo-item {
  mix-blend-mode: darken;
}


@keyframes vibrate-magenta {
  from {  transform: rotate(0deg) translateX(-2%) rotate(0deg); }
  to   {  transform: rotate(360deg) translateX(-2%) rotate(-360deg); }
}

@keyframes vibrate-yellow {
  from {  transform: rotate(0deg) translateX(4%) rotate(0deg); }
  to   {  transform: rotate(360deg) translateX(4%) rotate(-360deg); }
}

@keyframes vibrate-cyan {
  from {  transform: rotate(0deg) translateX(-4%) rotate(0deg); }
  to   {  transform: rotate(360deg) translateX(-4%) rotate(-360deg); }
}

